.container {
  padding: 0.5rem;
}

.header {
  background-color: #ededed;
  padding: 1.2rem;
}

.logo__title {
  margin-bottom: 0.5rem;
}

.filters__media--completion.buttons {
  margin-bottom: 0.5rem;
}

.filters__media--archived {
  margin-top: 1rem;
}

.media {
  margin: 1.5rem 0 0 0;
}

.media,
.media__button.button,
.media__title-field {
  font-size: 0.8rem;
}

.media__content {
  padding: 0.5rem;
  border: solid 1px #ededed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.media__title {
  font-weight: 400;
  width: 35%;
}

.media__title-field {
  display: none;
}

.media__category {
  color: #b1b1b1;
}

.media__buttons {
  margin-left: 1rem;
}

.media__button--notseen,
.media__button--delete {
  display: flex;
}

.media--edit .media__title-label {
  display: none;
}

.media--edit .media__title-field {
  display: block;
  width: 90%;
}

.media--tosee .media__button--notseen {
  display: none;
}

.media--seen .media__content {
  display: flex;
  background-color: #f7f7f7;
  border: none;
}

.media--seen .media__title {
  color: #b1b1b1;
}

.media--seen .media__button--validate {
  display: none;
}

.media__button--delete {
  display: inline-block;
}

.media--seen .media__button--notseen {
  display: inline-block;
}

.media--add .media__content {
  border-color: #78b6df;
}

.media--add .media__title {
  width: 100%;
}

.media--add .media__category {
  width: 100%;
  margin-top: 0.5rem;
}

.media--add .media__title-field {
  display: block;
  width: 90%;
}

.media--add .media__buttons {
  margin: 0.5rem 0 0 0;
}

.media--add .media__button {
  font-size: 1rem;
}

@media screen and (min-width: 640px) {
  .container {
    padding: 1rem;
  }

  .media,
  .media__button.button,
  .media__title-field {
    font-size: 0.9rem;
  }

  .media__content {
    padding: 1rem;
  }

  .media__title {
    font-size: 1rem;
  }

  .media--add .media__title {
    width: 50%;
  }

  .media--add .media__category {
    margin: 0;
    width: 30%;
  }

  .media--add .media__buttons {
    width: 20%;
    text-align: right;
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo__title {
    margin-bottom: 0;
  }


  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filters__media--completion,
  .filters__media--category {
    margin-right: 1rem;
  }

  .filters__media--archived {
    margin-top: 0;
  }

  .filters__media--completion {
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .media,
  .media__button.button,
  .media__title-field.input {
    font-size: 1rem;
  }

  .media__title {
    width: 50%;
  }

  .media__title-field {
    width: 60%;
  }
}